:root {
	--text-color: var(--white-eight);
	--white-one: rgba(255, 255, 255, 0.1);
	--white-three: rgba(255, 255, 255, 0.3);
	--white-five: rgba(255, 255, 255, 0.5);
	--white-seven: rgba(255, 255, 255, 0.7);
	--white-eight: rgba(255, 255, 255, 0.8);
	--default-transition: all 0.1s ease-in;
}

@font-face {
	font-family: Mulish;
	src: url("assets/Mulish-VariableFont_wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	font-family: Mulish, sans-serif;
	box-sizing: border-box;
}

::selection {
	background-color: rgba(255, 255, 255, 0.25);
}

body {
	color: var(--text-color);
	background: url(textures/stars.jpg);
	background-size: 500px;
}

h1.main {
	text-shadow: 0px 0px 10px white;
	letter-spacing: 3pt;
}

button {
	cursor: pointer;
}

.hidden {
	display: none !important;
}

.grab {
	cursor: grab;
}

.grabbing {
	cursor: grabbing;
}

canvas {
	touch-action: none;
	outline: none;
}

@keyframes background-move {
	to {
		background-position-x: 100%;
	}
}

.routes {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10%;
	padding: 20px 0;
}

.routes a {
	text-decoration: none;
	color: var(--text-color);
	display: flex;
	flex-direction: column;

	padding-bottom: 2px;
	border-bottom: 1px solid transparent;

	transition: var(--default-transition);
}

.routes a:hover {
	color: white;
	border-bottom: 1px solid white;
}

button.explore {
	padding: 4px 16px;
	background: none;
	color: var(--text-color);

	border: 1px solid white;
	border-radius: 8px;

	transition: var(--default-transition);

	cursor: pointer;

	text-shadow: 0 0 4px var(--white-three);
	box-shadow: 0 0 4px var(--white-three), 0 0 8px var(--white-three) inset;
}

button.explore:hover {
	text-shadow: 0 0 8px var(--white-five);
	box-shadow: 0 0 8px var(--white-five), 0 0 8px var(--white-five) inset;
}

#explore {
	padding: 12px 24px;
	font-size: 12pt;
	letter-spacing: 1pt;
	backdrop-filter: blur(1px);

	text-shadow: 0 0 8px var(--white-three);
	box-shadow: 0 0 8px var(--white-three), 0 0 8px var(--white-three) inset;
}

button#explore:hover {
	text-shadow: 0 0 12px var(--white-five);
	box-shadow: 0 0 12px var(--white-five), 0 0 12px var(--white-five) inset;
}
